

.result-container{
  background: linear-gradient(135deg,#f4f6f9,#e8f5e9);
} */

/* background decor */
.result-container::after{
  content:"";
  position:fixed;
  bottom:-100px;
  left:-110px;
  width:350px;
  height:350px;
  background:#ffe082;
  border-radius:50%;
  z-index: 0;
}

/* ===== RESULT PAGE ===== */
.result-container{
  padding:40px;
}

/* TOP */
.result-top{
  display:flex;
  gap:20px;
}

/* LEFT */
.result-left{
  background:linear-gradient(135deg,#e8f5e9,#c8e6c9);
  padding:30px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.result-left h1{
  margin-bottom:10px;
}

.result-left button{
  margin-top:20px;
  padding:12px 20px;
  border:none;
  border-radius:25px;
  background:#2e7d32;
  color:white;
  cursor:pointer;
}

/* RIGHT */
.result-right{
  flex:1;
  background:white;
  padding:30px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.result-right h1{
  font-size:40px;
  margin:15px 0;
  color:#2e7d32;
}

.details{
  display:flex;
  justify-content:space-between;
  margin-top:10px;
  padding:10px;
  background:#f1f8f4;
  border-radius:10px;
}

/* COURSES */
.courses{
  margin-top:40px;
  z-index: 1;
}

.course-list{
  display:flex;
  gap:20px;
  margin-top:20px;
}

/* CARD */
.course-card{
  flex:1;
  background:white;
  padding:20px;
  border-radius:15px;
  box-shadow:0 5px 15px rgba(0,0,0,0.05);
  transition:0.3s;
}

.course-card:hover{
  transform:translateY(-5px);
}